#counter {
	font-size: 10em;
	text-align: center;
	font-family: sans-serif;
}

#buttoncontainer {
	text-align: center;
}

.buttons{
	font-size: 1em;
	padding: 15px 10px;
	color: white;
	font-family: sans-serif;
	background-color: hsl(214, 100%, 60%);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.buttons:hover{
	background-color: hsl(214, 100%, 40%);
}
