body{
	background-color: whitesmoke;
	font-family: "Kanit",sans-serif;
	font-weight: 800;
}

#main_container{
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}

#table_container{
	text-align: center;
}

#app_label{
	font-size: 4em;
}

#time{
	font-size: 5em;
	margin-bottom: 50px;
}

#buttons_container{
	display: block;
}
.main_button{
	width: 40%;
	margin: 5px;
	padding: 8px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	font-size: 2em;
	color: white;
}

#start{
	background-color: hsl(110, 100%, 50%);
}

#stop{
	background-color: hsl(0, 100%, 50%);
}

#reset{
	background-color: hsl(210, 90%, 40%);
}

#mark{
	background-color: hsl(50, 100%, 50%);
}

#mark_table{
	border-radius: 10px;
	margin: 7% auto;
}

table {
	font-size: 2em;
	width: 95%;
	margin: 0;

}

td, th {
	padding: 20px;
	text-align: center; 
	margin: 0;
}

@media screen and (max-width: 768px){

	#main_container{
		width: 100%;
	}
	#app_label{
		font-size: 3em;
	}

	#time{
		font-size: 3em;
	}
}
